# Pandas en Python

Se importa la librería **pandas**

In [1]:
import pandas as pd
from numpy.ma.core import size
from pandas.conftest import ascending

## DataFrame

### Crear un DataFrame

#### Nota
- pd.DataFrame() es una función de pandas que crea una tabla (como Excel o una tabla SQL).
- Cada clave del diccionario se vuelve una columna.
- Cada lista dentro del diccionario se vuelve una fila de datos.

#### 1. Diccionario de listas(columna por columna)

In [2]:
football_dict = {
    "player": ["Lionel Messi", "Cristiano Ronaldo"],
    "year": [2016, 2016],
    "goals": [37, 25],
}
football_stats = pd.DataFrame(football_dict)
print(football_stats)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

#### 2. Lista de diccionarios(fila por fila)

In [3]:
football_list = [
    {"player": "Lionel Messi", "year": 2016, "goals": 37},
    {"player": "Cristiano Ronaldo", "year": 2016, "goals": 25},
]
football_stats = pd.DataFrame(football_list)
print(football_stats)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

## Importar datos

### Base de datos

#### Se usara una base de datos de las 5 ligas top de Europa entre los años 2014 y 2020.

### Importar datos de un archivo csv

In [10]:
df = pd.read_csv('Fullmetadata.csv', index_col= 'player_id')
df

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_name,npg,npxG,xGChain,xGBuildup,year
player_id,,,,,,,,,,,,,,,,,,
8865,Ollie Watkins,9,810,6,6.108615,1,1.294178,22,12,0,0,F,Aston Villa,5,4.586278,6.570879,1.832243,2020
675,Jack Grealish,9,810,5,3.136721,5,3.884479,26,26,2,0,F M,Aston Villa,5,3.136721,7.380403,2.577331,2020
592,Ross Barkley,6,454,2,1.515623,1,1.767355,17,15,0,0,M,Aston Villa,2,1.515623,3.546400,0.667209,2020
1024,Tyrone Mings,9,810,2,1.362349,1,0.068672,7,2,2,0,D,Aston Villa,2,1.362349,1.677874,1.661455,2020
7726,Ezri Konsa Ngoyo,9,810,2,0.972794,0,0.000000,7,0,0,0,D,Aston Villa,2,0.972794,0.627418,0.627418,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267,Florian Hartherz,10,775,0,0.008183,2,0.341444,1,5,1,1,D S,Paderborn,0,0.008183,1.099364,0.908752,2014
4268,Christian Strohdiek,22,1608,0,0.192864,0,0.095853,6,3,2,0,D S,Paderborn,0,0.192864,1.002443,0.892720,2014
4311,Idir Ouali,6,296,0,0.608952,0,0.054503,4,1,1,0,M S,Paderborn,0,0.608952,0.983527,0.374576,2014
4334,Mirnes Pepic,2,20,0,0.000000,0,0.000000,0,0,0,0,S,Paderborn,0,0.000000,0.000000,0.000000,2014
4363,Thomas Bertels,1,3,0,0.000000,0,0.000000,0,0,0,0,S,Paderborn,0,0.000000,0.000000,0.000000,2014

## Inspeccionar un DataFrame

- `df.head()` → retorna las 5 primeras filas. También le puedes pasar un entero como parámetro y te devolverá esa cantidad de primeras filas.
- `df.tail()` → retorna las últimas 5 filas del dataset.
- `df.sample()` → es parecido a los 2 anteriores, pero este tomará muestras al azar del DataFrame.
- `df.shape` → retorna las filas y columnas que tiene el DataFrame.
- `df.size` → multiplica las filas y columnas y te da el total de datos del DataFrame.
- `df.info()` → este es genial, te da la cuenta de valores no nulos, el tipo de dato de cada columna (recuerda que solo puede haber un único tipo de dato por columna) y el uso de memoria. Cuando estés procesando los datos, será un gran aliado.
- `df.describe()` → te ayudará mucho con las primeras impresiones de los datos. Calcula algunas estadísticas descriptivas para cada

In [11]:
print(df.sample(3))

              player_name  games  time  goals        xG  assists        xA  \
player_id
162            Timm Klose     12   959      1  0.274971        0  0.058935
4891          Jean Makoun      1    65      0  0.000000        0  0.033633
73         Oliver Baumann     33  2970      0  0.000000        0  0.058580

           shots  key_passes  yellow_cards  red_cards position   team_name  \
player_id
162            3           1             0          0      D S   Wolfsburg
4891           0           1             0          0        M      Rennes
73             0           2             1          0       GK  Hoffenheim

           npg      npxG   xGChain  xGBuildup  year
player_id
162          1  0.274971  4.330639   4.330639  2014
4891         0  0.000000  0.114489   0.080856  2014
73           0  0.000000  2.545311   2.486731  2015

In [12]:
print(df.shape)

(18633, 18)

In [13]:
print(df.size)

335394

In [14]:
print(df.info())

<class 'pandas.DataFrame'>
Index: 18633 entries, 8865 to 4363
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   18633 non-null  str
 1   games         18633 non-null  int64
 2   time          18633 non-null  int64
 3   goals         18633 non-null  int64
 4   xG            18633 non-null  float64
 5   assists       18633 non-null  int64
 6   xA            18633 non-null  float64
 7   shots         18633 non-null  int64
 8   key_passes    18633 non-null  int64
 9   yellow_cards  18633 non-null  int64
 10  red_cards     18633 non-null  int64
 11  position      18633 non-null  str
 12  team_name     18633 non-null  str
 13  npg           18633 non-null  int64
 14  npxG          18633 non-null  float64
 15  xGChain       18633 non-null  float64
 16  xGBuildup     18633 non-null  float64
 17  year          18633 non-null  int64
dtypes: float64(5), int64(10), str(3)
memory usage: 2.7 MB
None

In [15]:
print(df.describe())

              games          time         goals            xG       assists  \
count  18633.000000  18633.000000  18633.000000  18633.000000  18633.000000
mean      17.072291   1207.483282      1.624054      1.660439      1.138088
std       11.375527    975.753086      3.252418      2.974699      1.936238
min        1.000000      1.000000      0.000000      0.000000      0.000000
25%        7.000000    326.000000      0.000000      0.060762      0.000000
50%       16.000000    976.000000      0.000000      0.560141      0.000000
75%       27.000000   2004.000000      2.000000      1.900353      2.000000
max       38.000000   3420.000000     48.000000     39.308761     20.000000

                 xA         shots    key_passes  yellow_cards     red_cards  \
count  18633.000000  18633.000000  18633.000000  18633.000000  18633.000000
mean       1.165425     15.323888     11.354801      2.453979      0.127569
std        1.735366     20.934645     15.065863      2.685745      0.370656
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.045790      1.000000      1.000000      0.000000      0.000000
50%        0.478022      8.000000      5.000000      2.000000      0.000000
75%        1.575897     21.000000     16.000000      4.000000      0.000000
max       20.620707    227.000000    146.000000     17.000000      5.000000

                npg          npxG       xGChain     xGBuildup          year
count  18633.000000  18633.000000  18633.000000  18633.000000  18633.000000
mean       1.478399      1.517196      4.345903      2.547434   2016.937691
std        2.891849      2.620168      5.023077      2.955030      1.976606
min        0.000000      0.000000      0.000000      0.000000   2014.000000
25%        0.000000      0.060527      0.771935      0.423074   2015.000000
50%        0.000000      0.544881      2.721288      1.623131   2017.000000
75%        2.000000      1.780330      6.126256      3.599779   2019.000000
max       38.000000     32.117727     54.753610     28.058852   2020.000000

## Ordenar los datos

 `df.sort_values()` Esta función en Pandas se usa para ordenar un DataFrame según los valores de una o más columnas. De forma predeterminada, ordena en orden ascendente y devuelve un nuevo DataFrame, dejando el original sin cambios a menos que se especifique lo contrario.

In [17]:
df.sort_values('player_name', ascending=False)

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_name,npg,npxG,xGChain,xGBuildup,year
player_id,,,,,,,,,,,,,,,,,,
250,Ørjan Nyland,6,540,0,0.000000,0,0.000000,0,0,0,0,GK,Ingolstadt,0,0.000000,0.167960,0.167960,2015
250,Ørjan Nyland,12,1021,0,0.000000,0,0.000000,0,0,0,0,GK S,Ingolstadt,0,0.000000,0.593702,0.593702,2016
250,Ørjan Nyland,7,536,0,0.000000,0,0.000000,0,0,0,0,GK S,Aston Villa,0,0.000000,0.194507,0.194507,2019
2646,Özkan Yildirim,1,60,0,0.000000,0,0.000000,0,0,0,0,M,Werder Bremen,0,0.000000,0.013800,0.013800,2014
2646,Özkan Yildirim,1,13,0,0.083136,0,0.000000,1,0,0,0,S,Werder Bremen,0,0.083136,0.083136,0.000000,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,Aaron Cresswell,20,1586,0,0.419239,1,0.937578,11,17,1,0,D S,West Ham,0,0.419239,2.039328,1.581602,2018
534,Aaron Cresswell,11,990,0,0.264341,3,1.606536,4,20,0,0,D,West Ham,0,0.264341,3.518969,2.893820,2020
534,Aaron Cresswell,31,2739,3,1.032538,0,3.006657,18,26,7,0,D,West Ham,3,1.032538,6.834942,4.891464,2019
7991,Aaron Connolly,24,1279,3,4.553526,1,0.562017,36,6,0,0,F S,Brighton,3,4.553526,4.356782,0.354199,2019
7991,Aaron Connolly,8,425,1,1.553084,1,0.132376,9,4,0,0,F S,Brighton,1,1.553084,1.683810,0.031006,2020

In [23]:
print(df.sort_values(['team_name', 'goals' ], ascending=[True, False]).head(3))

            player_name  games  time  goals         xG  assists        xA  \
player_id
1125       Carlos Bacca     38  3179     18  14.870253        2  3.657710
2014       Jérémy Menez     33  2713     16  10.936869        4  4.379692
1125       Carlos Bacca     32  2152     13  14.850961        3  2.608146

           shots  key_passes  yellow_cards  red_cards position team_name  npg  \
player_id
1125          77          41             2          0      F S  AC Milan   16
2014          78          46             3          1    F M S  AC Milan    8
1125          56          19             3          0      F S  AC Milan    9

                npxG    xGChain  xGBuildup  year
player_id
1125       13.347656  18.540670   3.277732  2015
2014        4.846598  13.755916   6.889687  2014
1125       10.283168  12.942242   2.016689  2016

## Subconjuntos y filtros de datos

In [26]:
df['team_name'].unique()

<StringArray>
[          'Aston Villa',               'Everton',           'Southampton',
             'Leicester',  'West Bromwich Albion',        'Crystal Palace',
               'Chelsea',              'West Ham',             'Tottenham',
               'Arsenal',
 ...
            'Ingolstadt',             'Darmstadt',                 'Carpi',
           'GFC Ajaccio',   'Queens Park Rangers',               'Cordoba',
               'Almeria',                'Cesena',                 'Parma',
 'Evian Thonon Gaillard']
Length: 147, dtype: str

### Filtrar filas

El método `.isin()` en Pandas sirve para filtrar y seleccionar datos de un DataFrame o Series, comprobando de manera eficiente si los elementos están contenidos en una lista.

A continuación se muestran diferentes formas de filtrado:

In [27]:
df[df.player_name == 'Aaron Connolly']

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_name,npg,npxG,xGChain,xGBuildup,year
player_id,,,,,,,,,,,,,,,,,,
7991,Aaron Connolly,8,425,1,1.553084,1,0.132376,9,4,0,0,F S,Brighton,1,1.553084,1.683810,0.031006,2020
7991,Aaron Connolly,24,1279,3,4.553526,1,0.562017,36,6,0,0,F S,Brighton,3,4.553526,4.356782,0.354199,2019

In [28]:
df[df['player_name'] == 'Aaron Connolly']

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_name,npg,npxG,xGChain,xGBuildup,year
player_id,,,,,,,,,,,,,,,,,,
7991,Aaron Connolly,8,425,1,1.553084,1,0.132376,9,4,0,0,F S,Brighton,1,1.553084,1.683810,0.031006,2020
7991,Aaron Connolly,24,1279,3,4.553526,1,0.562017,36,6,0,0,F S,Brighton,3,4.553526,4.356782,0.354199,2019

In [29]:
df.query('player_name == "Aaron Connolly"')

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_name,npg,npxG,xGChain,xGBuildup,year
player_id,,,,,,,,,,,,,,,,,,
7991,Aaron Connolly,8,425,1,1.553084,1,0.132376,9,4,0,0,F S,Brighton,1,1.553084,1.683810,0.031006,2020
7991,Aaron Connolly,24,1279,3,4.553526,1,0.562017,36,6,0,0,F S,Brighton,3,4.553526,4.356782,0.354199,2019

### Uniendo lo aprendido

In [34]:
# Goles de Cristiano Ronaldo realizó en 2014
cr7 = df[(df.player_name == 'Cristiano Ronaldo') & (df.year == 2014)]
cols = ['player_name', 'year', 'goals' ]
print(cr7[cols])

                 player_name  year  goals
player_id
2371       Cristiano Ronaldo  2014     48

In [35]:
# Goles de Ronaldo, Messi y Suárez en 2015
players = ['Cristiano Ronaldo', 'Lionel Messi', 'Luis Suárez']
top_players = df[(df.player_name.isin(players)) & (df.year == 2015)]
print(top_players[cols])

                 player_name  year  goals
player_id
2098             Luis Suárez  2015     40
2097            Lionel Messi  2015     26
2371       Cristiano Ronaldo  2015     35

### Subsetting con `.loc`


`.loc` es un indexador fundamental utilizado para seleccionar, filtrar y manipular subconjuntos de datos en un DataFrame o Series basándose en etiquetas (nombres) de filas y columnas, en lugar de sus posiciones numéricas.